**/bin
**/obj
**/node_modules
**/dist
**/.angular
**/.git
**/.vscode
**/.dotnet
**/.store
**/.tools
**/coverage
**/TestResults
**/*.user
**/*.suo
**/secrets.json
docker-compose*.yml
Caddyfile
.env
.env.*
